<div class="coursebox2">
<h4>Find a section that occurs on a particular time & day:</h4>

  <%= form_for @querytiming do |f| %>
      <p><%= render 'shared/error_messages_querytiming', :object => f.object %></p>
    
    <%= f.label :desired_start_time, "I want my class's section to start at:", class:'label_text' %>
    <%= f.select :desired_start_time, options_from_collection_for_select(@start_meetings, 'start_time','start_time_to_s') %>
    
    <%= f.label :desired_end_time, "I want my class's section to end at:", class:'label_text' %>
    <%= f.select :desired_end_time, options_from_collection_for_select(@end_meetings, 'end_time','end_time_to_s') %>
    
    <%= f.label :desired_day, "I want my class's section be on:", class:'label_text' %>
    <%= f.select :desired_day, options_from_collection_for_select(@day_meetings, 'day','day_to_s') %>

  
    <center><%= f.submit "Find your sections!", class: 'small nice blue radius button'%></center>
  <% end %>
</div>
<br><br><br>