<div class="coursebox2">
<h4>Find a class between two numbers in a department</h4>

  <%= form_for @querynumber do |f| %>
      <p><%= render 'shared/error_messages_querynumber', :object => f.object %></p>

    <%= f.label :department, "I want my course to have this department:", class:'label_text' %>
    <%= f.text_field :department %><br />
    <br>

    <%= f.label :course_number_lower_bound, "I want my course to be above:", class:'label_text' %>
    <%= f.text_field :course_number_lower_bound %><br />
    <br>
    
    <%= f.label :course_number_upper_bound, "I want my course to be below:", class:'label_text' %>
    <%= f.text_field :course_number_upper_bound %><br />
  
    <center><%= f.submit "Find your courses!", class: 'small nice blue radius button'%></center>
  <% end %>
</div>
<br><br><br>