<div class="coursebox2">
<h4>Find a class between two numbers in a department</h4>

  <%= form_for @querynumber do |f| %>
      <p><%= render 'shared/error_messages_querynumber', :object => f.object %></p>

    <h6>I want my course to have this department:</h6>
    <%= f.text_field :department %><br />
    <br>

    <h6>I want my course to be <strong>above</strong>:</h6>
    <%= f.text_field :course_number_lower_bound %><br />
    <br>
    <h6>I want my course to be <strong>below</strong>:</h6>
    <%= f.text_field :course_number_upper_bound %><br />
  
    <%= f.submit "Find your courses!", class: 'small nice blue radius button'%>
  <% end %>
</div>
<br><br><br>