<div class="coursebox2">
<h4>Filter requirements based on course rating</h4>


  <%= form_for @query do |f| %>
      <p><%= render 'shared/error_messages_query', :object => f.object %></p>
    
    <%= f.label :requirement_category, "Requirement Category (select one):", class:'label_text' %>
    <ul id="list">
      <li><%= f.radio_button :requirement_category, 'SS', id:"Social Science" %> Social Science</li>
      <li><%= f.radio_button :requirement_category, 'H', id:"Humanities" %> Humanities</li>
      <li><%= f.radio_button :requirement_category, 'TBS', id:"Technology in Business and Society" %> Technology in Business and Society</li>
      <li><%= f.radio_button :requirement_category, 'NS', id:"Natural Science" %> Natural Science</li>
      <li><%= f.radio_button :requirement_category, 'M', id:"Math" %> Math</li>
      <li><%= f.radio_button :requirement_category, 'E', id:"Engineering" %> Engineering</li>
    </ul>

    
    <%= f.label :course_rating_lower_bound, "I want my course to be rated higher than:", class:'label_text' %>
    <%= f.text_field :course_rating_lower_bound %><br />
    <br>
    
    <%= f.label :difficulty_rating_upper_bound, "I want my difficulty to be rated lower than:", class:'label_text' %>
    <%= f.text_field :difficulty_rating_upper_bound %><br />
  
    <center><%= f.submit "Find your courses!", class: 'small nice blue radius button'%></center>
  <% end %>
</div>
<br><br><br>