<br><br>

<font face="palatino", font size="4">

<div class="logobox"> 
<div class="left";>
  <%= link_to image_tag("PSA_LOGO_final.png",{:alt => "Penn Course Finder"}), root_path %>
</div>
</div>

  <div class="headerboxsignin">
    <ul class="nav-bar">
        <li>
		<%= link_to "Home", root_path %>
        </li>
        <li>
		<%= link_to "All Courses", courses_path %>
        </li>
        <li>
		<%= link_to "Requirements", queries_path %>
        </li>
	<li>
		<%= link_to "Course Levels", querynumbers_path %>
        </li>
	<li>
		<%= link_to "Start Times", root_path %>
        </li>
  </div>

    </ul>
  
</font>

<br><br><br>